<h4>
    π¥ λ§›μ§‘ ν„ν™©</h4>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>μμ‹μ λ…</th>
            <th>μ „ν™”λ²νΈ</th>
            <th>λ€ν‘μμ‹</th>
            <th>λ„λ΅λ…μ£Όμ†</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i =0; i <stores.length; i++){%>
            <tr>
                <td>
                    <%=stores[i].RESTRT_NM%>
                </td>
                <td>
                    <%=stores[i].TASTFDPLC_TELNO%>
                </td>
                <td>
                    <%=stores[i].REPRSNT_FOOD_NM%>
                </td>
                <td>
                    <%=stores[i].REFINE_ROADNM_ADDR%>
                </td>
            </tr>
            <%}%>
    </tbody>
</table>

<hr class="divide">


<h4>π” ν¨μ¤νΈν‘Έλ“μ  ν„ν™© </h4>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>μ‚¬μ—…μ¥λ…</th>
            <th>λ„λ΅λ…μ£Όμ†</th>
        </tr>
    </thead>
    <tbody>
        <%for (var i =0; i <fast_food_stores.length; i++){%>
            <tr>
                <td>
                    <%=fast_food_stores[i].BIZPLC_NM%>
                </td>
                <td>
                    <%=fast_food_stores[i].REFINE_ROADNM_ADDR%>
                </td>
            </tr>
            <%}%>
    </tbody>
</table>
<p class="sum">μ΄ λ§›μ§‘ κ°μ :
    <%=stores.length%>
</p>
<p class="sum">ν¨μ¤νΈν‘Έλ“μ  κ°μ :
    <%=fast_food_stores.length%>
</p>