<h4>π“ λ„μ„κ΄€ ν„ν™©</h4>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>λ„μ„κ΄€λ…</th>
            <th>λ„λ΅λ…μ£Όμ†</th>
            <th>μλ£μ‹¤ κ°λ°©μ‹κ°„</th>
            <th>μ—΄λμ‹¤ κ°λ°©μ‹κ°„</th>

        </tr>
    </thead>
    <tbody>
        <%for (var i =0; i <librarys.length; i++){%>
            <tr>
                <td>
                    <%=librarys[i].LIBRRY_NM%>
                </td>
                <td>
                    <%=librarys[i].REFINE_ROADNM_ADDR%>
                </td>
                <td>
                    <%=librarys[i].RECSROOM_OPEN_TM_INFO%>
                </td>
                <td>
                    <%=librarys[i].READROOM_OPEN_TM_INFO%>
                </td>
            </tr>
            <%}%>
    </tbody>
</table>

<hr class="divide">



<h4>π“’ ν•™μ› ν„ν™© </h4>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>μ‹μ„¤λ…</th>
            <th>κµμµκ³Όμ •λ…</th>
            <th>λ„λ΅λ…μ£Όμ†</th>

        </tr>
    </thead>
    <tbody>
        <%for (var i =0; i <institutes.length; i++){%>
            <tr>
                <td>
                    <%=institutes[i].FACLT_NM%>
                </td>
                <td>
                    <%=institutes[i].CRSE_CLASS_NM%>
                </td>
                <td>
                    <%=institutes[i].REFINE_ROADNM_ADDR%>
                </td>
            </tr>
            <%}%>
    </tbody>
</table>

<p class="sum">μ΄ λ„μ„κ΄€ κ°μ :
    <%=librarys.length%>
</p>

<p class="sum">ν•™μ› λ° κµμµμ† κ°μ :
    <%=institutes.length%>
</p>